Zenith_of_Challenger/.vs
Client_of_Challenger/x64
Client_of_Challenger/Zenith of Challenger/assimp-master
Client_of_Challenger/Zenith of Challenger/build
Client_of_Challenger/Zenith of Challenger/x64
Client_of_Challenger/packages/directxtk12_desktop_win10.2025.3.21.3
Client_of_Challenger/.vs/Zenith of Challenger
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb
*.sdf
*.ipch
Zenith_of_Challenger/x64
